/* #region debug*/
.debug #site_header {
    background-color: palegoldenrod;
}

.debug .bottom {
    background-color: palegreen;
}


.debug .main {
    background-color: rgb(255, 215, 228);

}

/* #endregion debug */

/* #region utility*/
:root {
    --rc-blu: #051e34;
    --rc-bg-grey: #e9ecef;
    --rc-bg-blu: #1b72e8;
    --rc-badge: #165bba;
    --rc-orange:#f26551;
}

.bg_grey {
    background-color: var(--rc-bg-grey);
}

.bg_blu {
    background-color: var(--rc-bg-blu);
}

.bg_rc-badge {
    background-color: var(--rc-badge);
}
.card-body tr {
    width: auto;
}
.w-table-name {
    width: 40%;
}
/* #endregion utility*/

/* #region header*/
#site_header {
    height: 70px;
}

/* #endregion header*/


/* #region bottom*/
.bottom {
    height: calc(100vh - 70px);
}

.sidebar {
    width: 70px;
    background-color: var(--rc-blu);
    background-image: url("../img/sidebar-bg.png");
}

.main {
    width: calc(100% - 70px);
    overflow-y: auto;
}

.hidden {
    display: none !important;
}

.hidden_lg {
    display: none;
}
.square_trash {
    width: 2rem;
    aspect-ratio: 1/1;
}
.code {
    width: 2rem;
    aspect-ratio: 1;
    background-color: var(--rc-orange);
}
/* #endregion bottom*/








/* #region @media*/
@media screen and (min-width:992px) {
    .sidebar {
        width: 150px;
    }

    .main {
        width: calc(100% - 150px);
    }

    .hidden {
        display: inline !important;
    }

    .logo_mobile {
        display: none;
    }

    .lg_whidt {
        width: 50% !important;
    }
    .w-table-name {
        width: 60%;
    }
}

@media screen and (min-width:1400px) {
    .hidden_lg {
        display: inline-block;
    }
}

/* #endregion @media*/




/* #region */
/* #endregion */