/* #region debug*/
.debug #site_header {
    background-color: palegoldenrod;
}

.debug .bottom {
    background-color: palegreen;
}

.sidebar {}

.debug .content {
    background-color: rgb(255, 215, 228);

}

/* #endregion debug */

/* #region utility*/
:root {
    --rc-blu: #051e34;

}

/* #endregion utility*/

/* #region header*/
#site_header {
    height: 70px;
}

/* #endregion header*/


/* #region bottom*/
.bottom {
    height: calc(100vh - 70px);
}

.sidebar {
    width: 70px;
    background-color: var(--rc-blu);
    background-image: url("../img/sidebar-bg.png");
    background-size: cover;
}

.content {
    width: calc(100% - 70px);
    background-image: url(".");
}
.hidden {
    display: none;
}

/* #endregion bottom*/








/* #region @media*/
@media screen and (min-width:992px) {
    .sidebar {
        width: 150px;
    }

    .content {
        width: calc(100% - 150px);
    }
    .hidden {
        display: inline;
    }
}


/* #endregion @media*/




/* #region */
/* #endregion */